# Latex
# Latex
#*.tex
*.aux
*.ist
*.log
*.gz
*.bbl
*.bcf
*.blg
*.dep
*.dvi
*.lof
*.loa
*.lol
*.lot
*.out
*.bak
*.toc
*.sta
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.slg
*.syg
*.syi
*.stackdump
*.ps
*.run.xml
*-blx.bib*
*.pub


# folders
/build
/debug
/.svn


# big files
*.whl
*.mp4
*.mp3
*.avi
*.zip
*.rar
*.7z
*.tgz
*.hdf5
*.h5
*.mat
*.npz
# small files
*.html
*.css
*.ffpreset























